/* Save-Confirm Modal */
.backdrop {
    position: fixed;
    inset: 0;                        
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;                   
}
  
.pop-up-window {
    background: #6a0dad;
    color: #c998ec;
    padding: 24px 32px;
    border: 1.5px solid rgb(189, 178, 178);
    border-radius: 8px;
    max-width: 280px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}  
  
.actions {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
}
  
.btn {
    padding: 6px 14px;
    color:#000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
}
  
.btn.cancel { background: #cabed8; }
.btn.confirm { background: rgb(139, 92, 226); }
.btn:hover { opacity: 0.75; }
  

/* Leaderboard */
.leader-backdrop {
    position: fixed;
    inset: 0;                  
    background: #000;      
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;                
    overflow: hidden;
}

.leader {
    background: #6a0dad;           
    color: #c998ec;
    padding: 32px 30px;
    border: 2px solid white;
    border-radius: 8px;
    max-width: 320px;
    width: 90%;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.25);
    text-align: center;         
    z-index: 1;
}

.leader h2{
    font-size: 30px;
}

.leader ol {
    margin: 0 30px;
    padding: 0;
  }
  
.leader li {
    color: #e2d9e9;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
  
.leader p {
    margin: 8px 0;
    color: #bbb;
    font-style: italic;
}
  
.leader button {
    margin: 40px 30px 0px 30px;
    padding: 10px 50px;
    background: #cabed8;
    color: #000;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.leader button:hover {
    opacity: 0.85;
}


/* floating tophies in leaderboard */
.floating-trophies {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
  }
  
  .floating-trophies .fa-trophy {
    position: absolute;
    color: #6a0dad;
    opacity: 0.8;
    animation-name: float, spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* trophy animations */
  @keyframes float {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    100% {
      transform: translate(
        calc(200vw * cos(var(--angle, 45deg))),
        calc(200vh * sin(var(--angle, 45deg)))
      );
    }
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  